.App {
  text-align: center;
}

.tamanhoImagem {
  height: 200px;
  width: 200px;
}

.cardCamisas{
  border: 1px solid black;
  margin: 2px;
  padding: 10px;
}

.containerCamisas{
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(3, 350px);
  text-align: center;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
